<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AC02-Logistica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Massa da mercadoria (kg)</ion-label>
      <ion-input placeholder="1kg" (ionInput)="getValue($event, 'm' )"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Distância (km)</ion-label>
      <ion-input (ionInput)="getValue($event, 'd')" placeholder="1km" ></ion-input>
    </ion-item>
    
    <ion-item class="ion-margin-bottom">
      <ion-select interface="popover" placeholder="Selecione o tipo de Entrega" (ionChange)="tipo_envio = $event; exibirEnvio()">
        <ion-select-option>Comum</ion-select-option>
        <ion-select-option>Expressa</ion-select-option>
        <ion-select-option>Same Day</ion-select-option>
        <ion-select-option>Fornecedor</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="Calcular()" expand="block">Calcular</ion-button>

    <ion-item>
      <ion-grid>
        <ion-col>
          <h1 class="ion-text-center btd">Detalhes da entrega</h1>
          <p>Massa a transportar: {{ massa == undefined ?  '---' : massa }} kg</p>
          <p>Distância a percorrer: {{ dev == undefined || dev == 0?  '---' : dev }} km</p>
          <p>Tipo da Entrega: {{ tipo_envio?.detail?.value == undefined ?  '---' : tipo_envio?.detail?.value }}</p>
          <p>Tempo Estimado: {{ tempo == 0 ?  '---' : tempo }} h</p>
          <p>Desconto: R$ {{ desconto == undefined ?  '---' : desconto}}</p>
          <p>Valor Sem Desconto: R$ {{ valor_final == undefined ?  '---' : valor_final}}</p>
          <p class="ion-text-center destaque">Valor Final: R$ {{ ValorComDesconto == undefined ?  '---' : ValorComDesconto}}</p>
        </ion-col>
      </ion-grid>
    </ion-item>
  </ion-list>  
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <h3 class="tabeladedescontos">Tabela de Descontos</h3>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col">Peso</ion-col>
      <ion-col class="ion-col">Desconto</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col">10kg a 50kg</ion-col>
      <ion-col class="ion-col">10% de desconto</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col">50kg a 100kg</ion-col>
      <ion-col class="ion-col">20% de desconto</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-col">100kg ou mais</ion-col>
      <ion-col class="ion-col">50% de desconto</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
